<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Chatting Application</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">

    <script type = "text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js" integrity="sha512-aC5ZfKOuGRUiJCv+E/EIWsj49E02BQpuLQbixZe+16Lm1R6AepHZA1xvY92XBQNNbwQoqG4DXCGxwoxBFb5Q1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset = "utf-8" src="{{ url_for('static', filename='socket.js') }}"></script>
</head>
<body>
<nav class="navbar">
    <div class="logo">CHAT APP</div>

<div class="homeNavBar">
    <li>
    <li><a style="color:black" href="/"> Home</a></li>
    <li><a style="color:black" href="/logout"> Sign out</a></li>
    </li>
</div>
<div class="messageBox" style="text-align:center; position: absolute; top:50%; left:50%; margin-top:-15%; margin-left:-16%;">
    <h1>Welcome to Chatting App</h1>
    <h2>Room: {{session['room']}}</h2>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    <textarea class="chat" id="chat" cols="70" rows="10" placeholder="Send Message to Display Here"></textarea><br>
    <input style="height:30px; font-size:14px;" type="text" id="text" placeholder="Message"/>
    <button type="submit" id="send">Send</button>
    <input type="button" id="leave" onclick="leave_room()" value="Leave">
</div>
</nav>
</body>
</html>