<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Application</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body style="background-color: #5555dd">
<h1 style="color:black;"><center>WELCOME TO THE CHATTING APPLICATION</center></h1>
<ul class="homeNavBar">
    <li><a href="/login"> Sign in</a></li>
    <li><a href="/signup"> Sign up</a></li>
    <li><a href="/logout"> Sign out</a></li>
</ul>
</body>
</html>