<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Application</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body style="background-color: #5555dd">
<nav class="navbar">
    <div class="logo">CHAT APP</div>
        <div style="down: -10px" class="homeNavBar">
            <li>
    <li><a style="color:black" href="/login"> Sign in</a></li>
    <li><a style="color:black" href="/signup"> Sign up</a></li>
    <li><a style="color:black" href="/logout"> Sign out</a></li>
            <li><a style="color:black" href="">About</a></li>
            </li>
        </div>
    <p></p>
 <div class="header">
<h1 style="color:black;">WELCOME TO THE CHATTING APPLICATION</h1>
        </div>
</nav>
</body>
</html>