<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Application</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body style="background-color: #5555dd">
<nav class="navbar">
    <div class="logo">CHAT APP</div>
        <div style="down: -10px" class="homeNavBar">
            <li>
    <li><a style="color:black" href="/login"> Sign in</a></li>
    <li><a style="color:black" href="/signup"> Sign up</a></li>
    <li><a style="color:black" href="/logout"> Sign out</a></li>
            <li><a style="color:black" href="">About</a></li>
            </li>
        </div>
    <p></p>
 <div class="header">
<h1 style="color:black;">WELCOME TO THE CHATTING APPLICATION</h1>
        </div>
</nav>
<span style="position: fixed; top:50%; left:40%; margin-top:-50px; margin-left:-100px;" class="boxed">
    <h1>The Chatting App is a place for anyone to come and meet fellow chatters.</h1>
    <h1>Our goal is to make it easy for anyone around the world to join and chat with one another without</h1>
    <h1>exposing yourself to society. We respect your privacy so we dont track your messages. No need to worry,</h1>
    <h1>they'll never be used against you since there's not trace! We hope you give us your trust. CHAT ON!!!</h1>
</span>
</body>
</html>