<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Application</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body style="background-color: #5555dd">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<nav class="navbar">
    <div class="logo">CHAT APP</div>
<div class="homeNavBar">
    <li><a style="color:black" href="/login"> Sign in</a></li>
    <li><a style="color:black" href="/signup"> Sign up</a></li>
    <li><a style="color:black" href="/"> Home</a></li>
</div>
    </nav>
</body>
</html>