<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<div class="waiting-room">
<body style="text-align:center; position: fixed; top:50%; left:50%; margin-top:-50px; margin-left:-100px;">
    <h1>Enter Room ID</h1>
    <form action="{{ url_for('chat') }}" method="POST">
        <input type="text" id="room" name="room" placeholder="Room" required>
        <p></p>
        <button  type="submit" id="send">Enter</button>
    </form>
</body>
</div>
</html>