<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Application</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<form action="/" method="post">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Sign up</button>
</form>
    <h1>Prompt email and password using a form</h1>
    <h1>have a sign in button to login with credentials</h1>
    <h1>Prompt for a sign up option if user does not have an account and redirect them to that form</h1>
</body>
</html>